<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whispering | Login</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="menu">
        <ul>
            <li><a href="/">Whispering</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome Back!</h1>
        
        <form id="login">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Your username" required />
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password" required />
            <button type="submit">Login</button>
        </form>

        <p>Don't have an account yet? <a href="/signup">Sign Up</a></p>

    </main>
    <script src="auth.js"></script>
</body>

</html>