<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whispering | Home</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <nav class="menu">
        <ul>
            <li><a href="/">Whispering</a></li>
        </ul>
    </nav>
    <main>
        <h1>Welcome to Whispering!</h1>
        <figure>
            <img src="people.jpg" alt="three people sitting at the table laughing together" />
            <figcaption>Photo by <a href="https://unsplash.com/photos/g1Kr4Ozfoac">Brooke Cagle</a> from <a
                    href="https://unsplash.com/">Unsplash</a></figcaption>
        </figure>

        <h2>What is Whispering?</h2>
        <p>Whispering is a microblogging platform that allows you to share your thoughts with the world and learn
            Node.js on the way.</p>

        <h2>Community live ⚡️</h2>
        <p>Currently there are <%= whispers.length %> whispers available</p>

    </main>
</body>

</html>